// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-span {
	float: right;
	margin-top: 29px;
}
.book-content-area {
	height: 100px;
	width: 90%;
	background-color: #f2f2f2;
	border: 1px solid #eee;
	padding: 10px;
}
.book-title {
	font-size: 20px;
}
.by-author {
	text-size: 14px;
}
.book-edits {
	text-size: 10px;
}