<h2>Authors</h2>

   <% @authors.each do |author| %>
<ul>
    <li>
      <div class="book-content-area">
        <span class="author">
		<%= image_tag(author.image_url, height: "100", width: "80")%>
      	</span>
        <span class="author author-name"> - <%= link_to author.name, author_path( author.id )  %></span>
      </div>
   </li>
 </ul>
  <% end %>

